<form action="{{ action }}" id="{{ formId }}" method="{{ method }}" enctype="{{ enctype }}">
    <div class="formbody">
        <input type="hidden" name="FORM_SUBMIT" value="{{ formId }}"/>
        <input type="hidden" name="REQUEST_TOKEN" value="{{ REQUEST_TOKEN }}"/>

        {{ fields }}

        <div class="submit_container">
            <input type="submit" name="unsubscribe" class="unsubscribe"
                   value="{{ _lang.fe_avisota_subscription.unsubscribe }}"/>
        </div>

        {{ hidden }}
    </div>
</form>
