
<form action="{{ action }}" id="{{ formId }}" method="{{ method }}" enctype="{{ enctype }}">
	<div class="formbody">
		<input type="hidden" name="FORM_SUBMIT" value="{{ formId }}"/>
		<input type="hidden" name="REQUEST_TOKEN" value="{{ REQUEST_TOKEN }}"/>

		{{ fields }}

		<div class="submit_container">
			<input type="submit" name="subscribe" class="subscribe"
				   value="{{ _lang.fe_avisota_subscription.subscribe }}"/>
		</div>

		{{ hidden }}
	</div>
</form>
